@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 2, 6, 23;
  --background-rgb: 248, 250, 252;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 248, 250, 252;
    --background-rgb: 2, 6, 23;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb))
}

h1{
  @apply text-5xl font-semibold leading-tight;
}

h2 {
  @apply text-3xl font-semibold leading-tight;
}
p{
  @apply leading-7;
}